<li class="physician">
  <span class="name">
    <%= physician.first_name %> <%= physician.last_name %>
    <% if physician.can_volunteer? %>
      <span class="volunteer">volunteer</span>
    <% end %>
  </span>

  <% if physician.hourly_fee %>
    <span class="fee"><b>Hourly fee:</b> $<%= physician.hourly_fee %></span>
  <% end %>

  <% if physician.primary_location %>
    <span class="address"><%= physician.primary_location.address %></span>
    <span class="address"><%= physician.primary_location.city %>, <%= physician.primary_location.country %></span>
  <% end %>

  <% if physician.specialties.length %>
    <span class="specialties">
      <b>Specialties:</b>
      <ul>
        <% physician.specialties.each do | specialty | %>
          <li><%= specialty %></li>
        <% end %>
      </ul>
    </span>
  <% end %>

  <% if physician.degrees.length %>
    <span class="degrees">
      <b>Degrees:</b>
      <ul>
        <% physician.degrees.each do | degree | %>
          <li><%= degree %></li>
        <% end %>
      </ul>
    </span>
  <% end %>

</li>