<div class="physician">
  <div class="name">
    <%= physician.first_name %> <%= physician.last_name %>
    <% if physician.can_volunteer? %>
      <div class="volunteer">volunteer</div>
    <% end %>
  </div>

  <div class="phone">+234 55-555-555</div>

  <% if physician.hourly_fee %>
    <div class="fee"><b>Hourly fee:</b> $<%= physician.hourly_fee %></div>
  <% end %>

  <% if physician.primary_location %>
    <div class="address"><%= physician.primary_location.address %></div>
    <div class="address"><%= physician.primary_location.address_city %>, Nigeria</div>
  <% end %>

  <% if physician.specialties.length %>
    <div class="specialties">
      <b>Specialties:</b>
      <ul>
        <% physician.specialties.each do | specialty | %>
          <li><%= specialty %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if physician.degrees.length %>
    <div class="degrees">
      <b>Degrees:</b>
      <ul>
        <% physician.degrees.each do | degree | %>
          <li><%= degree %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>